<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="templates/images/logo.png">
    <title>{{news_name}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="templates/newsletter.css">
</head>

<body>
    <header>
        <img src="templates/images/logo.png" alt="Newspaper Logo" class="logo">
        <h1 class="title">{{news_name}}</h1>
        <p class="date">{{news_date}}</p>
    </header>
    <main>
        <div class="flex-container">
            <div class="card">
                <a href="{{url00}}"><img src="{{pic00}}" alt="Article Image"></a>
                <div class="card-body">
                    <p class="article-source">{{source00}}</p>
                    <h2 class="article-title"><a href="{{url00}}"></a>{{title00}}</h2>
                    <p class="article-body">{{body00}}</p>
                    <p class="article-similar">Similar articles: 
                        <a class="article-similar-body" href="{{cluster00_0_url}}">{{cluster00_0_source}}</a>
                        <a class="article-similar-body" href="{{cluster00_1_url}}">{{cluster00_1_source}}</a>
                        <a class="article-similar-body" href="{{cluster00_2_url}}">{{cluster00_2_source}}</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a href="{{url01}}"><img src="{{pic01}}" alt="Article Image"></a>
                <div class="card-body">
                    <p class="article-source">{{source01}}</p>
                    <h2 class="article-title"><a href="{{url01}}"></a>{{title01}}</h2>
                    <p class="article-body">{{body01}}</p>
                    <p class="article-similar">Similar articles: 
                        <a class="article-similar-body" href="{{cluster01_0_url}}">{{cluster01_0_source}}</a>
                        <a class="article-similar-body" href="{{cluster01_1_url}}">{{cluster01_1_source}}</a>
                        <a class="article-similar-body" href="{{cluster01_2_url}}">{{cluster01_2_source}}</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a href="{{url02}}"><img src="{{pic02}}" alt="Article Image"></a>
                <div class="card-body">
                    <p class="article-source">{{source02}}</p>
                    <h2 class="article-title"><a href="{{url02}}"></a>{{title02}}</h2>
                    <p class="article-body">{{body02}}</p>
                    <p class="article-similar">Similar articles: 
                        <a class="article-similar-body" href="{{cluster02_0_url}}">{{cluster02_0_source}}</a>
                        <a class="article-similar-body" href="{{cluster02_1_url}}">{{cluster02_1_source}}</a>
                        <a class="article-similar-body" href="{{cluster02_2_url}}">{{cluster02_2_source}}</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a href="{{url03}}"><img src="{{pic03}}" alt="Article Image"></a>
                <div class="card-body">
                    <p class="article-source">{{source03}}</p>
                    <h2 class="article-title"><a href="{{url03}}"></a>{{title03}}</h2>
                    <p class="article-body">{{body03}}</p>
                    <p class="article-similar">Similar articles: 
                        <a class="article-similar-body" href="{{cluster03_0_url}}">{{cluster03_0_source}}</a>
                        <a class="article-similar-body" href="{{cluster03_1_url}}">{{cluster03_1_source}}</a>
                        <a class="article-similar-body" href="{{cluster03_2_url}}">{{cluster03_2_source}}</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a href="{{url04}}"><img src="{{pic04}}" alt="Article Image"></a>
                <div class="card-body">
                    <p class="article-source">{{source04}}</p>
                    <h2 class="article-title"><a href="{{url04}}"></a>{{title04}}</h2>
                    <p class="article-body">{{body04}}</p>
                    <p class="article-similar">Similar articles: 
                        <a class="article-similar-body" href="{{cluster04_0_url}}">{{cluster04_0_source}}</a>
                        <a class="article-similar-body" href="{{cluster04_1_url}}">{{cluster04_1_source}}</a>
                        <a class="article-similar-body" href="{{cluster04_2_url}}">{{cluster04_2_source}}</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a href="{{url05}}"><img src="{{pic05}}" alt="Article Image"></a>
                <div class="card-body">
                    <p class="article-source">{{source05}}</p>
                    <h2 class="article-title"><a href="{{url05}}"></a>{{title05}}</h2>
                    <p class="article-body">{{body05}}</p>
                    <p class="article-similar">Similar articles: 
                        <a class="article-similar-body" href="{{cluster05_0_url}}">{{cluster05_0_source}}</a>
                        <a class="article-similar-body" href="{{cluster05_1_url}}">{{cluster05_1_source}}</a>
                        <a class="article-similar-body" href="{{cluster05_2_url}}">{{cluster05_2_source}}</a>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <a href="https://github.com/elisemercury/News-Collector">View this project on GitHub.</a>
            <span>Python x Automation</span>
        </div>
    </footer>

</body>

</html>